.Attendee_Margin_x {
  background-color: white;
  margin-top: 20px;
  border-radius: 10px;
}
.header__content_all {
  padding: 10px 30px;
  border-bottom: 1px solid rgba(3, 9, 24, 0.15);
  width: 100%;
}
.attendance__header_date {
  width: 140px;
  height: 40px;
  font-size: 14px;
  gap: 5px;
  background-color: #d4eefc;
}
.ChartHeader_MarginX {
  padding: 30px;
  height: 330px;
  background-color: rgba(248, 248, 248, 1);
}
.chartHeader__bgBlue {
  margin-top: 20px;
  height: 45px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;

  padding-left: 30px;
  background-color: #d4eefc;
}
