/* Responsive Container */
.responsiveContainer {
  justify-content: center;
  width: 100%;
  padding: 10px;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1000;
  justify-content: center;
  background-color: white;
}

.navbar_container {
  width: 88%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.LoginInBottom {
  width: 100%;

  @media (min-width: 1000px) {
    background-color: transparent;
    color: black;
  }
}
.signUpBottom {
  box-shadow: rgba(52, 87, 140, 0.12) 0px -2px 36px 0px;
  background-color: transparent;
}

.buttongroupLarge {
  display: none;
  @media (min-width: 1000px) {
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.openNavbarContainer {
  display: flex;
  width: 100vw;
  position: absolute;
  left: -10%;
  top: -26%;
  height: 100vh;
  background-color: #12131391;
  /* background-color: #0b0b0b00; */
}

.buttongroupSmallResponsive {
  display: flex;
  width: 385px;
  flex-direction: column;
  background-color: white;

  @media (min-width: 1000px) {
    display: none;
  }
}

.hamburg__container {
  cursor: pointer;
  display: flex;
  align-items: center;

  /* Show only on small screens */
  @media (min-width: 1000px) {
    display: none;
  }
}

.close__mantine__header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
