@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --progress-size: 10px;
  --progress-radius: 8px;
  --progress-section-width: 50%; /* You can dynamically adjust this */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
